{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Despachos Transbolivar</title>
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <div id="contain" class="table-area">
        <table id="table_scroll" style="overflow:auto" class="responsive-table table">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>HORA</th>
                    <th>UNIDAD</th>
                    <th>RUTA</th>
                    <th>OPERADOR</th>
                    <th>KM</th>
                    <th>GASOLINA</th>
                    <th>OBSERVACION</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %} {% for a in object_list %} {% if a.status %} {% if a.gasolina.nivel == '1/4' %}
                <tr style="background:  #ff7c7c ">
                    <td class="text-dark">{{a.id}}</td>
                    <td class="text-dark">{{a.hora}}</td>
                    <td class="text-dark">{{a.unidad}}</td>
                    <td class="text-dark">{{a.ruta}}</td>
                    <td style="width: 400px" class="text-dark">{{a.operador}}</td>
                    <td class="text-dark">{{a.kilometraje}}</td>
                    <td class="text-dark">{{a.gasolina}}</td>
                    <td style="width: 300px" class="text-dark">{{a.observacion}}</td>
                </tr>
                {% else %}
                <tr>
                    <td class="text-dark">{{a.id}}</td>
                    <td class="text-dark">{{a.hora}}</td>
                    <td class="text-dark">{{a.unidad}}</td>
                    <td class="text-dark">{{a.ruta}}</td>
                    <td style="width: 400px" class="text-dark">{{a.operador}}</td>
                    <td class="text-dark">{{a.kilometraje}}</td>
                    <td class="text-dark">{{a.gasolina}}</td>
                    <td style="width: 300px" class="text-dark">{{a.observacion}}</td>
                </tr>
                {% endif %} {% endif %} {% endfor %} {% endif %}
            </tbody>
        </table>
        <br>
        <h4 style="bottom: 0; position: fixed; margin-left: 0.4em">Numero de despachos: {{ndespachos}}</h4>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript">
        var my_time;
        var n = {{ ndespachos }}
        $(document).ready(function () {
            if (n > 8) {
                pageScroll();
            }
        });
        var speed = n * 3000;
        if (n > 8) {
            speed = speed - 19000;
        }

        function pageScroll() {
            var objDiv = document.getElementById("contain");
            objDiv.scrollTop = objDiv.scrollTop + 1;
            $('p:nth-of-type(1)').html('scrollTop : ' + objDiv.scrollTop);
            $('p:nth-of-type(2)').html('scrollHeight : ' + objDiv.scrollHeight);

            if (objDiv.scrollTop == (objDiv.scrollHeight - 100)) {
                objDiv.scrollTop = 0;
            }
            my_time = setTimeout('pageScroll()', 40);
        }
        setTimeout(function () { location.reload() }, speed);
    </script>
</body>

</html>